.container-vip{
    margin-top: 100px;
}
.title-vip{
    color: black;
    font-weight: 600;
    text-align: center;
}
.des-vip{
    text-align: center;
}
.vip{
    padding: 5px;
}
.vip-item{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
hr{
    background-color: red;
}
.vip-item-title{
    font-weight: 600;
    color: black;
}
.vip-item-des{
    padding: 5px 0px;
}